LOS.Adapter.Data.HIS/BookingServicesContext/BookingServicesContext.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://microsoft.com/HostApplications/TI/WIP" targetNamespace="http://microsoft.com/HostApplications/TI/WIP">
  <xs:element name="BookingServicesContext__BookingServices__CreateAlternateNameAndAddress__Request" nillable="true" type="TypeCreateAlternateNameAndAddressRequest" />
  <xs:element name="BookingServicesContext__BookingServices__CreateAlternateNameAndAddress__Response" nillable="true" type="TypeCreateAlternateNameAndAddressResponse" />
  <xs:complexType name="TypeCreateAlternateNameAndAddressRequest">
    <xs:sequence>
      <xs:element name="CreateAlternateNameAndAddressInDocument">
      <xs:complexType>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_ID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_REQUEST_CODE" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_BATCH_ID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_BANK" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_OBLIGOR" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_OBLIGATION" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_ITEM_NBR" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SEG_COUNTER" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_HEADER_FILLER" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_CALLING_APPL" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_LENGTH" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_ERROR_MESSAGES" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="REQUEST_1091_FIELDS" type="ArrayOfREQUEST_1091_FIELDS_BookingServicesContext_IBookingServices_CreateAlternateNameAndAddress_REQUEST_1091_FIELDS" />
          <xs:element minOccurs="1" maxOccurs="1" name="REQUEST_1091_FIELDS_EXTRA" type="ArrayOfREQUEST_1091_FIELDS_EXTRA_BookingServicesContext_IBookingServices_CreateAlternateNameAndAddress_REQUEST_1091_FIELDS_EXTRA" />
        </xs:sequence>
      </xs:complexType>
     </xs:element>
     <xs:element name="TIClientContext" minOccurs="0" maxOccurs="unbounded">
       <xs:complexType>
         <xs:attribute name="TIContextKeyword" type="xs:string"/>
         <xs:attribute name="TIContextValue" type="xs:string"/>
       </xs:complexType>
     </xs:element>
   </xs:sequence>
   <xs:attribute name="TIAssemblyVersion" type="xs:string" default="1.0"/>
  </xs:complexType>
  <xs:complexType name="TypeCreateAlternateNameAndAddressResponse">
    <xs:sequence>
      <xs:element name="CreateAlternateNameAndAddressOutDocument">
      <xs:complexType>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_ID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_REQUEST_CODE" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_BATCH_ID" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_BANK" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_OBLIGOR" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_OBLIGATION" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_ITEM_NBR" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="SEG_COUNTER" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_HEADER_FILLER" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_CALLING_APPL" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_LENGTH" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LUW_ERROR_MESSAGES" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="REQUEST_1091_FIELDS" type="ArrayOfREQUEST_1091_FIELDS_BookingServicesContext_IBookingServices_CreateAlternateNameAndAddress_REQUEST_1091_FIELDS" />
        </xs:sequence>
      </xs:complexType>
     </xs:element>
     <xs:element name="TIClientContext" minOccurs="0" maxOccurs="unbounded">
       <xs:complexType>
         <xs:attribute name="TIContextKeyword" type="xs:string"/>
         <xs:attribute name="TIContextValue" type="xs:string"/>
       </xs:complexType>
     </xs:element>
   </xs:sequence>
   <xs:attribute name="TIAssemblyVersion" type="xs:string" default="1.0"/>
  </xs:complexType>
  <xs:complexType name="REQUEST_1091_FIELDS">
    <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_NAME_TITLE" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_NAME" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_NAME_CONTINUED" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_ADDRESS1" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_ADDRESS2" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_ADDRESS3" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_ADDRESS4" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_ADDRESS5" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_ADDRESS6" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_CITY" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_STATE" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_ZIP_CODE" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_TIN" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_SSN" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_TELEPHONE1" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_TELEPHONE2" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_NAAD_RECORD_CODE" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="REQUEST_1091_FIELDS_EXTRA">
    <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_BYTE_TO_MATCH_1001" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_RESIDENT_EXTENSION" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_BUSINESS_EXTENSION" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_TELEX_PHONE_NUMBER" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_FAX_AREA_CODE" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_FAX_PHONE_NUMBER" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_TIME_ZONE" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_EMAIL_ADDR_ESS" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="x1091_WEBSITE" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfREQUEST_1091_FIELDS_BookingServicesContext_IBookingServices_CreateAlternateNameAndAddress_REQUEST_1091_FIELDS">
     <xs:sequence>
        <xs:element minOccurs="23" maxOccurs="23" name="REQUEST_1091_FIELDS" type="REQUEST_1091_FIELDS" />
     </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfREQUEST_1091_FIELDS_EXTRA_BookingServicesContext_IBookingServices_CreateAlternateNameAndAddress_REQUEST_1091_FIELDS_EXTRA">
     <xs:sequence>
        <xs:element minOccurs="23" maxOccurs="23" name="REQUEST_1091_FIELDS_EXTRA" type="REQUEST_1091_FIELDS_EXTRA" />
     </xs:sequence>
  </xs:complexType>
</xs:schema>
